<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Crear Lector</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body class="body__all">
	<header>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Biblioteca</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/libros/home}">Libros</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/lector/home}">Lectores</a></li>
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/prestamo/home}">Prestamos</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main class="container">
		<div class="card">
			<div class="card-header">
				<h2>Crear Prestamo</h2>
				<div>
					<div th:unless="${#strings.isEmpty(msg)}"
						class=" alert 
						alert-danger display-6" role="alert"
						th:text="${msg.toUpperCase()}" style="text-align: center"></div>
				</div>
			</div>
			<div class="card-body">
				<form th:action="@{/prestamo/prestar}" th:object="${duoutil}"
					method="post">
					<div class="form-group row">
						<label class="col-md-1" for="lector">Lector</label><select
							th:field="*{lector}" class="form-control col" id="lector">
							<option th:each="leo:${nombre_generico_para_lectores}"
								th:value="${leo.id}" th:text="${leo.nombre}">
						</select>
					</div>
					<div class="form-group row">
						<label class="col-md-1" for="libro">Libro</label> <select
							th:field="*{libro}" class="form-control col" id="libro">
							<option th:each="li:${libros}" th:value="${li.id}"
								th:text="${li.titulo}">
						</select>
					</div>
					<button class="btn btn-primary" type="submit">Agregar</button>
				</form>
			</div>
		</div>

	</main>
	<footer></footer>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>
</html>
